extends ../base

block content
    p=notice.description
    small=notice.user
    if notice.image
        img(src="/"+notice.image, width="100",height="100")
    br
    small rating : #{notice.meta.rating}
    br
    small views : #{notice.meta.views}
    hr
    a(href=`${notice.id}/edit`) Edit notice &rarr;
    br
    a(href=`${notice.id}/delete`) Delte notice &rarr;
    br
    a(href=`${notice.id}/report`) report notice &rarr;
    hr
    -for(let i=0;i<notice.comment.parentid;i++)
        p=notice.comment[i].parentid
        p=notice.comment[i].parentcomment
        br
        if notice.comment[i].parentid
            -for(let j=0;j<notice.comment[i].childid;j++)
                small=notice.comment[i].childid[j]
                small=notice.comment[i].childcomment[j]
                br
                form(method="POST")
                    input(type="text", name="childid",placeholder="child ID")
                    textarea(name="childcomment", cols="20", rows="5",id="childcomment",placeholder="child comment")
                    input(type="submit",value="submit")
    form(method="POST")
        input(type="text", name="parentid",placeholder="parent ID")
        textarea(name="parentcomment", cols="20", rows="5",id="parentcomment",placeholder="parent comment")
        input(type="submit",value="submit")
