doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title #{pageTitle} | #{siteName}
    body
        main
            h1=pageTitle
            nav
                ul
                    li
                        a(href="/") Home
                    if !loggedIn
                        li
                            a(href="/join") Join
                        li
                            a(href="/login") Login
                    else
                        li
                            a(href=`user/${user._id}/edit`) #{user.username} Edit Profile
                        li
                            a(href="/logout") Logout
                        li
                            a(href="/notice/upload") Upload
            block content
        include includes/footer